// Colors
$primary: #234b90;
$secondary: #1659bf;
$tertiary: #3399ff;

$black: #202124;
$grey: #80868d;
$light-grey: #dadce0;
$lighter-grey: #f1f4f8;
$border-grey: #edeff1;

$white: #ffffff;

$error: #b24536;
$success: #36b252;
$alert: #b28836;
$info: #1659bf;
