<section class="l-finor-cadastro-container" xmlns="http://www.w3.org/1999/html">
  <header>
    <div class="l-finor-cadastro-container__header">
      <div class="p-grid l-main-grid">
        <div class="p-col-12 p-xl-10 p-xl-offset-1"></div>
        <div
          class="l-finor-cadastro-container__title-wrapper p-col-12 p-xl-10 p-xl-offset-1 p-d-flex p-ai-center p-jc-between p-mb-3"
        >
          <div>
            <h2 class="l-finor-cadastro-container__title p-ml-3">
              Área de Planejamento -
            </h2>
            <h2 class="l-finor-cadastro-container__title p-ml-3">
              {{ id ? "Editar " : "Criar " }}
            </h2>
          </div>
          <div>
            <p-button
              label="VOLTAR"
              icon="pi pi-directions-alt"
              [routerLink]="'/area'"
              styleClass="p-button-outlined p-button-secondary p-mr-3"
            ></p-button>

            <p-button
              label="LIMPAR CAMPOS"
              icon="pi pi-undo"
              styleClass="p-button-outlined p-button-secondary p-mr-3"
            ></p-button>
            <p-button
              [label]="'SALVAR'"
              icon="pi pi-save"
              [disabled]="form.invalid"
            ></p-button>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="p-grid l-main-grid">
    <div class="p-col-12 p-xl-10 p-xl-offset-1">
      <p-tabView>
        <p-tabPanel>
          <ng-template pTemplate="header">
            <div class="l-finor-cadastro-container__tab-header p-d-flex">
              <span
                class="l-finor-cadastro-container__tab-header-step p-mr-2 p-d-flex p-ai-center p-jc-center"
              >
                1 -
              </span>
              <span class="l-finor-cadastro-container__tab-header-title">
                Cadastro
              </span>
            </div>
          </ng-template>
          <div class="p-mt-3 p-mb-2">
            <p-card>
              <form [formGroup]="form" class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-6">
                  <label>Nome</label>
                  <input
                    formControlName="nome"
                    id="nome"
                    type="text"
                    pInputText
                  />
                  <small
                    class="p-invalid"
                    *ngIf="form.get('nome').invalid && form.get('nome').touched"
                  >
                    Digite um nome
                  </small>
                </div>
                <div class="p-field p-col-3">
                  <label>Cpf</label>
                  <input formControlName="cpf" type="text" pInputText />
                  <small
                    class="p-invalid"
                    *ngIf="form.get('cpf').invalid && form.get('cpf').touched"
                  >
                    Digite um cpf
                  </small>
                </div>
                <div class="p-field p-col-3">
                  <label>Email</label>
                  <input formControlName="email" type="email" pInputText />
                  <small
                    class="p-invalid"
                    *ngIf="
                      form.get('email').invalid && form.get('email').touched
                    "
                  >
                    Digite um email valido
                  </small>
                </div>
                <div class="p-field p-col-3">
                  <label>Setor</label>
                  <p-dropdown
                    [options]="setores"
                    formControlName="setor"
                    optionLabel="descricao"
                  >
                  </p-dropdown>
                </div>
                <div class="p-field p-col-3">
                  <label for="icon">Data de Nascimento</label>
                  <p-calendar
                    #theDate
                    id="dataNascimento"
                    formControlName="dataNascimento"                    
                    hourFormat="24"              
                    [showIcon]="true"
                    placeholder="Set Date"
                    required
                  >
                  </p-calendar>
                  <p>SetDate Value :: {{ theDate.value | date: "shortDate" }}</p>
                </div>
                <div class="p-field p-col-12"></div>
              </form>
            </p-card>
          </div>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</section>
