<aside
  [ngClass]="{
    'l-sidenav-wrapper': true,
    'l-sidenav-wrapper--show': !_isHidden
  }"
  class="l-sidenav-wrapper"
  shrdClickOutside
  (clickOutside)="_isHidden = true"
>
  <div class="l-sidenav p-p-3">
    <button class="l-sidenav__btn" (click)="toggleNav()"></button>
    <nav>
      <ul>
        <shrd-sidenav-item (click)="toggleNav()" href="#" [routerLink]="['/area']">Área de Planejamento</shrd-sidenav-item>
        <shrd-sidenav-item (click)="toggleNav()" href="#" [routerLink]="['/planejamento']" >Planejamento</shrd-sidenav-item>
      </ul>
    </nav>
  </div>
</aside>
