@mixin uppercase-text {
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 700;
}

::ng-deep .pi-home:before {
  content: "\e925";
  font-size: 1.5rem;
}

:host {
  display: block;

  .l-header {
    z-index: 99999;
    position: fixed;
    height: calc(3.86rem * 2);
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%),
      0 1px 18px 0 rgb(0 0 0 / 12%);

    .c-header,
    .c-sub-header {
      height: 50%;
      width: 100%;
    }

    .c-header {
      background: var(--white);

      .c-header__logo {
        height: 2.2rem;
        width: auto;
      }

      .c-header__title,
      .c-header__subtitle {
        @include uppercase-text();
      }

      .c-header__subtitle {
        color: var(--primary);
      }

      .c-header__session-time {
        * {
          color: var(--grey);
        }
      }
    }

    .c-sub-header {
      background-color: var(--primary);
      border-bottom: 1px solid var(--surface-d);

      .c-sub-icon {
        color: var(--white);
        transition: background var(--transition-defs);
        padding: 0.4rem;
        border-radius: 0.5rem;
        cursor: pointer;
        &:hover {
          background: rgba(196, 196, 196, 0.2);
        }
      }

      .c-sub-btn {
        padding: 1rem 1.5rem;

        color: var(--white);
        text-transform: uppercase;

        cursor: pointer;

        border-radius: 0.5rem;
        transition: background var(--transition-defs);

        &:hover {
          background: rgba(206, 206, 206, 0.2);
        }
      }

      // Overrides primeng btn class to allow a full white button
      ::ng-deep .c-sub-header__help-btn {
        border-color: var(--white) !important;
        color: var(--white) !important;
        border: 1px solid !important;
      }
    }
  }

  .l-body {
    min-height: 100vh;
    padding-top: 3.86rem * 2;
  }
}
