:host {
  display: flex;
  position: relative;
  width: 100vw;
  height: calc(100vh - 16.5rem);
  margin-bottom: -5.5rem;
  align-items: center;
  justify-content: center;

  .wrapper {
    img {
      width: 35%;
    }

    .text-wrapper {
      max-width: 40rem;

      h2,
      p {
        font-weight: bold;
        font-size: 4rem;
        text-transform: uppercase;
        color: var(--grey);
      }

      h2 {
        font-size: 8rem;
        color: var(--light-grey);
        margin-bottom: 1rem;
      }

      p {
        margin-bottom: 4rem;
      }
    }
  }
}
